.container{
    width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comments-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }
  
  .reply {
    padding-left: 20px;
  }
  