.container{
    width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    border: 1px solid black;
    width: 350px;
    padding: 10px;
    border-radius: 12px;
    
}

.display {
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.key{
    border-radius: 50%;
    background-color: gray;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}
.operation{
    background-color: orange;
}