
.container{
    width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
  margin-top: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50px;
}

label{
    margin-right: 5px;
}

input{
    width:400px;
    height: 32px;
    padding: 5px;
    font-size: 16px;
    letter-spacing: 3px;
}

.satisfied{
    color: green;
}