.page{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.page a{
  border: 1px solid;
  padding: 16px;
  text-decoration:none;
  text-align: center;
}

.viewed{
  background-color: blue;
  color: white;
}


@media(max-width:420px){
  .page{
    grid-template-columns: repeat(1, 1fr);
  }
}